<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/contacts']"><mat-icon>list</mat-icon></a>
</div>
<form [formGroup]="contactsForm" (ngSubmit)="onFormSubmit(contactsForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" formControlName="Name" [errorStateMatcher]="matcher" />
    <mat-error>
      <span *ngIf="!contactsForm.get('Name').valid && contactsForm.get('Name').touched"
        >Please enter Board Title</span
      >
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Email"
      formControlName="Email"
      [errorStateMatcher]="matcher"
    />
    <mat-error>
      <span *ngIf="!contactsForm.get('Email').valid && contactsForm.get('Email').touched"
        >Please enter Board Description</span
      >
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Phone" formControlName="Phone" [errorStateMatcher]="matcher" />
    <mat-error>
      <span *ngIf="!contactsForm.get('Phone').valid && contactsForm.get('Phone').touched"
        >Please enter Board Author</span
      >
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!contactsForm.valid" mat-fab color="primary">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>